@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --font-primary_font: "Montserrat";
  --color-primary_bg: #04040c;
  --color-primary_text: #bc61f3;
  --color-second_text: #f0f0f0;
  --color-text_title: #f2f2f2;
  --breakpoint-MyXl:1920px;
}

html,body{
  @apply bg-primary_bg font-primary_font text-second_text
}
 .container{
  margin: auto;
 }
 .slick-slide{
padding:0px 25px;
 }

 @layer components {
  .btnlinear {
    border: 5px solid transparent;
    background: linear-gradient(
      0deg,
      rgba(188, 97, 243, 1) 0%,
      rgba(92, 67, 246, 1) 100%
    );
    background-origin: border-box;
    background-clip: border-box;
  }
  .gradient_border {
    border: 5px solid transparent;
    border-image: linear-gradient(
      0deg,
      rgb(188, 97, 243, 1) 0%,
      rgba(92, 67, 246, 1) 100%
    );
    border-image-slice: 1;
  }
  .banner_heading {
    background-image: url("./assets/textImag.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 
  .navItem {
    @apply relative text-xl font-medium font-primary_font text-second_text;
  }
  .activeNavItem {
    @apply text-primary_text  after:content-[''] after:w-full after:h-1 after:absolute after:-bottom-3 after:left-0 after:bg-[#3A3653] after:rounded-2xl hover:after:w-full;
  }
}
